[submodule "2020-lr-recruit-frontend-guest"]
	path = 2020-lr-recruit-frontend-guest
	url = https://github.com/su29029/2020-lr-recruit-frontend-guest.git
[submodule "2020-lr-recruit-frontend-admin"]
	path = 2020-lr-recruit-frontend-admin
	url = https://github.com/su29029/2020-lr-recruit-frontend-admin.git
